/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */



/* Link Styling */

a.active {
	color: #D2D2D2;

}

a:hover {
	color: #F0F0F0;
}

a:visited {
	color: #2A2A2A;
}

a:link {
	color: #4A4A4A;
}

a {
	color: #4A4A4A;
}


li a.active {
	color: #D2D2D2;
}


.logo-img {
	padding: 2%;
}



/* How about a nice off-white for the background? */

body { 
	background-color: #FBFBEF;
}



#zone-user-wrapper {
	padding-top: 2%;
	padding-bottom: 1%;
}


/* Make the menus display horizontally */

.region-branding .block-main-menu ul li.leaf {
	display: inline;
	list-style-type: none;
}

.region-user-second .block-user-menu ul li.leaf {
	display: inline;
	list-style-type: none;
}

/* End Horizontal Menus */


.region-user-second .block {
	padding-bottom: 1%;
}

/* A nice clean dashed-line to offset the branding area */

#zone-branding-wrapper {
	border: 0;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: dashed;
	border-color: dimgray;

}

/* Let the menu breathe a little bit */

#zone-menu-wrapper {
	padding-top: 1%;
}


#zone-footer-wrapper {
	background-color: dimgray;
}