/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

p {
	font-size: 100%;
}


.block-system-main-menu {
	font-size: 150%;


}

.logo-img {
float: left;
}

.site-slogan {
font-weight: normal;
float: right;
padding-right: 1em;
margin-top: -2.5em;
font-size: 200%;
}

#zone-footer-wrapper {
	padding-top: 1%;
}

.region-footer-second .block-menu-menu-clone-main-menu ul li.leaf {
	display: inline;
	list-style-type: none;
}



.region-branding .block-main-menu ul li.leaf {
	display: inline;
	list-style-type: none;
	border-top: dashed 1px;
	border-right: dashed 1px;
	border-bottom: none;
	border-left: none;
}