/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/*
.region-user-second-inner {

float: right;
}
*/

/*

body {
	background-image: url(../img/paper-background.jpg);
	background-attachment: fixed;
}
*/




#region-user-second {
 	float: right;
 }


 .region-user-second-inner {
 	float: right;
 }


.block-system-main-menu {
	font-size: 200%;

}

.site-slogan {
padding-top: 4%;
font-size: 200%;

}

#zone-footer-wrapper {
	padding-top: 1%;
}

.region-footer-second .block-menu-menu-clone-main-menu ul li.leaf {
	display: inline;
	list-style-type: none;
}

.region-footer-second .block-menu-menu-clone-main-menu a {
	color: white;
}